*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
}

.white-background {
    height: 60vh;
    width: 100%;
    background-color: white;
}

.black-background {
    height: 40vh;
    width: 100%;
    background-color: #3B3536;
}

.button-feedback {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background-color: #EEDBC2;
    position: absolute;
    top: calc(60vh - 25px);
    right: calc(50vw - 125px);
    transition: background-color 0.3s ease;
}

.button-feedback:hover {
    background-color: #E2C6A2;
}