*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #fff;
    min-height: 100vh;
}

.container{
    width: 96%;
    margin: 0 auto;
    padding : 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    margin-right: 40px;
    font-weight: bold;
}

.nav-links a:hover{
    text-decoration: underline;
}

.auth-group {
    display: flex;
    align-items: center;
    gap: 15px;
}