*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.container{
    width: 96%;
    margin: 0 auto;
    padding : 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

