*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #fff;
    height: 100vh;
}

.black-card{
    border: none;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 7px;
}

.container{
    width: 96%;
    height: 100%;
    margin: 0 auto;
    padding : 8px;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

/* nav-links */
.nav-links{
    width: 45% ;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    margin-right: 10%;
    font-weight: bold;
}

.nav-links a:hover{
    text-decoration: underline;
}

/* auth-group */
.auth-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.auth-group *{
    max-height: 100%;
}

.auth-group .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.auth-group .avatar:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #8070DB;
}

.auth-group .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth-group .name{
    font-weight: bold;
    color: #8070DB;
}

/* main-content*/
.main-content{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-content .side-bar{
    color: white;
    position: relative;
    padding: 30px 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-button{
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.service-button:hover{
    background-color: #A717FE;
}

.maincontent .dashboard-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

