*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #fff;
    height: 100vh;
}

.black-card{
    border: none;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 7px;
}

.shadow {
    box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.35);
}

.container{
    width: 96%;
    /* height: 100%; */
    margin: 0 auto;
    padding : 8px;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 30px;
    margin-bottom: 40px;
}

.nav-bar .logo h1{
    font-size: 36px;    
}

/* nav-links */
.nav-links{
    width: 45% ;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    margin-right: 10%;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover{
    text-decoration: underline;
}

/* auth-group */
.auth-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: 40px;
}

.auth-group>*{
    height: 100%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-group>*:hover{
    cursor: pointer;
    box-shadow: 0 0 0 3px #8070DB;
}

.auth-group .notice{
    font-size: 18px;
    border-radius: 50%;
}

.auth-group .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.auth-group .avatar img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.auth-group .name{
    font-weight: bold;
    color: #7200B8;
    border-radius: 3px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
}

/* main-content*/
.main-content{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3%;
}

.main-content .side-bar{
    color: white;
    position: relative;
    padding: 30px 20px 50px 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 254px;
    font-size: 20px;
}

.service-button{
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
}

.service-button:hover{
    background-color: #A717FE;
    padding-left: 10px;
    margin: 15px 0;
}

.main-content .dashboard-content{
    flex: 1;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-content .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
}

.dashboard-content .header h6{
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

.dashboard-content .header button{
    padding: 13px 10px;
    border: none;
    border-radius: 10px;
    border: 2px solid #8070DB;
    background-color: white;
    font-size: 20px;
}

.dashboard-content .header button:hover {
    background-color: #f2f2f2;   /* hoặc bạn bỏ trống để dùng hiệu ứng mặc định */
}

.dashboard-content .header button:active {
    background-color: #e5e5e5;   /* màu nhấn khi click */
}

.dashboard-content .top-cards{
    display: flex;
    gap: 30px;
}

.dashboard-content .top-cards>div {
    color: #DFF7F7;
    font-size: 24px;
}

.dashboard-content .loans-content{
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.loans-content .action-buttons-group{
    display: flex;
    flex-direction: column;
}

.action-buttons-group .loans-service{
    display: flex;
    align-items: center;
    gap: 35px;
    height: 410px;
    margin-bottom: 73px;
}

.action-buttons-group .loans-service button{
    width: 345px;
    height: 321px;
    font-size: 16px;
    font-style: bold;
    font-size: 36px;
}

.action-buttons-group .status-button {
    width: 412px;
    margin: 0 auto;
    font-size: 24px;
    border: 1px solid #7200B8;
}

.loans-content .latest-update-card{
    height: 500px;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.loans-content .latest-update-card h3{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.loans-content .latest-update-card p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 0 15px;
}